body{
    font-family: 'Open Sans', sans-serif;
}
.h1{
  
    color: rgb(250, 143, 3);
}
.text-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato,yellow);
    color: white;
    font-weight: 800px;
    padding: 10px 40px ;
    border-radius: 20px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 80%;
}
.top-picture{
    background-image: url(top.jpg);
    background-repeat: no-repeat;
}
.flexible-container{
   display: flex;
   margin-bottom: 200px; 
}
.orange{
    color: orange;
}
.about-me{
    background-image: url(about.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width-img2{
    width: 40%;
}
.recipe{
    background-image: url(recipe.jpg);
    background-repeat: no-repeat;
}
#food{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(3, 150, 52),red);
    border-image-slice: 1;

}
.recipes-item{
    width: 19%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px 5px gray;

}